<div fxLayout="column" fxLayoutAlign="start stretch">
  <div fxLayout="row" fxLayoutAlign="end start" class="bg-flags">
    <mat-icon (click)="changeLanguage('pt')" class="flags">
      <img src="/assets/images/br-flag.png" alt="Brazil flag" class="flags"
    /></mat-icon>

    <mat-icon (click)="changeLanguage('en')" class="flags">
      <img
        src="/assets/images/uk-flag.png"
        alt="United Kingdom flag"
        class="flags"
    /></mat-icon>
  </div>

  <div class="page">
    <div class="cv-page">
      <div class="cv-body" fxLayout="column" fxLayoutAlign=" stretch">
        <div
          fxLayoutGap="20px"
          class="cv-head full-width"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <h1>{{ "header.nameHeader" | translate }}</h1>
        </div>

        <div
          class="cv-description"
          fxLayout="column"
          fxLayoutAlign="start stretch"
          fxLayoutGap="20px"
        >
          <h2>{{ "header.profile" | translate }}</h2>
          <p>{{ "context.profile" | translate }}</p>

          <h2>{{ "header.background" | translate }}</h2>
          <p>{{ "context.background" | translate }}</p>

          <h2>{{ "header.experience" | translate }}</h2>
          <ul>
            <li>{{ "context.experience1" | translate }}</li>
            <li>{{ "context.experience2" | translate }}</li>
            <li>{{ "context.experience3" | translate }}</li>
          </ul>

          <h2>{{ "header.ademic" | translate }}</h2>
          <ul>
            <li>{{ "context.ademic1" | translate }}</li>
            <li>{{ "context.ademic2" | translate }}</li>
          </ul>

          <h2>{{ "header.courses" | translate }}</h2>
          <ul>
            <li>{{ "context.courses1" | translate }}</li>
            <li>{{ "context.courses2" | translate }}</li>
          </ul>

          <h2>{{ "header.ademic" | translate }}</h2>
          <ul>
            <li>{{ "context.ademic1" | translate }}</li>
            <li>{{ "context.ademic2" | translate }}</li>
          </ul>

          <h2>{{ "header.languanges" | translate }}</h2>
          <ul>
            <li>{{ "context.languanges1" | translate }}</li>
            <li>{{ "context.languanges2" | translate }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
